.elementor-36
  .elementor-element.elementor-element-acde9d5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-36
  .elementor-element.elementor-element-acde9d5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00000063 0%, #ffffff00 100%);
}
.elementor-36 .elementor-element.elementor-element-acde9d5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-36
  .elementor-element.elementor-element-acde9d5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-36 .elementor-element.elementor-element-68b0bf7.elementor-column {
  align-self: inherit;
  cursor: default;
}
.elementor-36 .elementor-element.elementor-element-456c97d img {
  width: 60%;
}
.elementor-36 .elementor-element.elementor-element-456c97d {
  z-index: 2;
}
.elementor-bc-flex-widget
  .elementor-36
  .elementor-element.elementor-element-bf8634f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-36
  .elementor-element.elementor-element-bf8634f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-36 .elementor-element.elementor-element-bf8634f.elementor-column {
  align-self: inherit;
  cursor: default;
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: #27272700;
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-nav-menu
  .elementor-item {
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-accent);
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:before,
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:after {
  background-color: var(--e-global-color-accent);
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .e--pointer-framed
  .elementor-item.elementor-item-active:before,
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  .e--pointer-framed
  .elementor-item.elementor-item-active:after {
  border-color: var(--e-global-color-accent);
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  div.elementor-menu-toggle {
  color: var(--e-global-color-6ac06de);
}
.elementor-36
  .elementor-element.elementor-element-2c4e9ad
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-6ac06de);
}
.elementor-36 .elementor-element.elementor-element-2c4e9ad {
  z-index: 2;
}
@media (max-width: 767px) {
  .elementor-36 .elementor-element.elementor-element-68b0bf7 {
    width: 70%;
  }
  .elementor-36 .elementor-element.elementor-element-456c97d {
    text-align: left;
  }
  .elementor-36 .elementor-element.elementor-element-bf8634f {
    width: 30%;
  }
  .elementor-bc-flex-widget
    .elementor-36
    .elementor-element.elementor-element-bf8634f.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-36
    .elementor-element.elementor-element-bf8634f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-36
    .elementor-element.elementor-element-2c4e9ad
    .elementor-nav-menu--dropdown
    a {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .elementor-36
    .elementor-element.elementor-element-2c4e9ad
    .elementor-nav-menu--main
    > .elementor-nav-menu
    > li
    > .elementor-nav-menu--dropdown,
  .elementor-36
    .elementor-element.elementor-element-2c4e9ad
    .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    /* margin-top: -40px !important; */
    margin-left: -40px;
  }
  .elementor-36 .elementor-element.elementor-element-2c4e9ad {
    --nav-menu-icon-size: 22px;
  }
}
@media (min-width: 768px) {
  .elementor-36 .elementor-element.elementor-element-68b0bf7 {
    width: 23.169%;
  }
  .elementor-36 .elementor-element.elementor-element-bf8634f {
    width: 76.831%;
  }
}
